.banner{
    display: flex;
    background-color: #a5fcd7;
    padding: 15px;
     align-items: center;
}
.banner-content{
    text-align: center;
   
flex: 1;
}
.banner-img-container{
flex: 1;
}
.banner-img-container img{
    width: 100%;
    border-radius: 5px;
}
.banner-content button{
    background-color: #26f337;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.banner-content button:hover{
    background-color: #eecdcd;
}